<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BaseLegadoMDRs" connectionString="Server=SERVIDORSQL;database=BANCO_DADOS;user=luan.hora;pwd=**************;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		
	</appSettings>
</configuration>